@font-face {
	font-family :myfont_1;
	src : url(../fonts/Countryside-one.ttf);
}
@font-face {
	font-family :myfont_2;
	src: url(../fonts/alata-regular.ttf);
}
@font-face {
	font-family : article;
	src: url(../fonts/OpenSans-Regular.ttf);
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color :#931a25;
}

/*Buat bagian logo*/
header {
	font-family: myfont_2;
	color: #f5efef;
	text-align: center;
	margin-top: 2%;
}
/*Buat bagian logo*/
header a {
	text-decoration: none;
	color:#f5efef;
}
/*Buat bagian logo*/
header h1 {
	font-family: myfont_1;
	text-align: center;
	color: #ffffff;
	font-size: 50px;
}

/*Buat nav*/
nav {
	margin: 3% 0;
}
/*Buat nav*/
nav li {
	list-style: none;
}
/*Buat nav*/
nav a{
	padding: 12.5px 0 0;
	float:left;
	width : 20%;
	height: 50px;
	text-align: center;
	background-color: #f5efef;
	text-decoration: none;
	color : #931a25;
	font-family: myfont_2;
}
/*hover nav*/
nav a:hover{
	background-color: #999999;	
}

/*Buat box*/
.main {
	width: 90%;
	margin: 1% auto;
	border-radius: 15px;
	background-color: #ffffff;
	box-shadow : 2.5px 2.5px 5px 5px rgba(0,0,0,0.4);
}
/*Buat box, but transparan usage class="main mainMenu"*/
.mainMenu {
	background-color: rgb(105,105,105,0.2);
}

/*buat button*/
.menu{
	width: 80%;
	text-align: center;
	background-color: #f5efef;
	margin : auto;
	text-decoration: none;
	color : #931a25;
	font-family: myfont_2;
	border-radius: 5px;
	float: left;
}
/*hover button*/
.menu:hover{
	background-color: #888888;
}

.content {
	padding :2%;
	color:#333333;
	font-family: article;
	text-align: justify;
	overflow: auto;
}

.featured_image{
   object-fit: cover;
   object-position: center;
}

@media screen and (max-width: 700px){
	nav a {
		padding: 7.5px 0;
		font-size: 12px;
	}

	.content {
		padding: 1%;
		width: 90%;
		margin: auto;
	}

	.featured_image {
		animation: fading 2s infinite;
	}
}

@keyframes fading {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100;
	}
}