@font-face {
	font-family :myfont_1;
	src : url(../fonts/Countryside-one.ttf);
}
@font-face {
	font-family :myfont_2;
	src: url(../fonts/alata-regular.ttf);
}
@font-face {
	font-family : article;
	src: url(../fonts/OpenSans-Regular.ttf);
}

.mainV{
	width: 90%;
	margin: 1% auto;
	border-radius: 15px;
	background-image : url(../images/129426.jpg);
	box-shadow : 2.5px 2.5px 5px 5px rgba(0,0,0,0.4);
}

a{
text-decoration : none;
}

.menuBox{
	color : white;
	padding-top : 8%;
	padding-bottom : 8%;
	border-radius: 15px;
	margin:5%;
	text-align : center;
}

.buttonV{
  padding: 15px 5px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #931a25;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-top : 5%;
  font-family: myfont_1;
}

.buttonV:hover {
	background-color: #673448;
}
.buttonV:active {
  background-color: #673448;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.gal:hover{
  cursor: pointer;
}
.gal
	{
	text-align : center;
    	border-radius: 15px;
	background-color : #931a25;
	padding : 10px;
	font-family : article;
	float : left;
	height : 200px;
	}
	
.column{
	column-count : 5;
	column-gap : 20px;
}

div.gal img{
	height :10em; 
}

.p1 , .p2, .p3, .p4, .p5{
	display: none;
}

.clear{
	clear : left;
	}
.profil
	{
	text-align : center;
    border-radius: 15px;
	background-color : #931a25;
	padding : 10px;
	margin-bottom : 10px;
	}
/**ini css footer**/
footer {
	margin:2% 0;
	text-align: center;
	color: #ffffff;
	font-family: myfont_2;
	clear : left;
}
/**source :  <a href='https://www.freepik.com/vectors/background'>Background vector created by rawpixel.com - www.freepik.com</a>**/
